{% extends "base.htm" %}
{% block csshead %}
{% include "bootstrap.css.htm" %}
 <link href="{{ static_url('login.css') }}" rel="stylesheet">
{% end %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HoneyFocus </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Admin</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

 <div class="container-fluid">
 	 <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
           {% block pagemenuoverview %}
            <li ><a href="/oam/manage">欢迎 </a></li>
          {% end %}
          {% block pageusermanage %}
            <li><a href="/oam/user">用户管理</a></li>
           {% end %}
           {% block pagewechatsetting %}
            <li><a href="/oam/wechat">微信设置</a></li>
           {% end %}
           
           {% block pageglobalsetting %}
            <li><a href="/oam/setting">其它全局设置</a></li>
           {% end %}
          </ul>
          
        </div>
 	 	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     	{% block adminmain %}
     	
     	{% end %}
     	</div>
 	 </div>
 	 
</div>

{% end %}
 
{% block jsfoot %}
{% include jquery.htm %}
{% include bootstrap.js.htm %}
{% end %}