{% extends "base.htm" %}
{% block csshead %}
{% include "bootstrap.css.htm" %}
 <link href="{{ static_url('login.css') }}" rel="stylesheet">
{% end %}
{% block body %}
 <div class="container">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputEmail" class="sr-only">电子邮箱</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
   
 
 {% end %}
 
{% block jsfoot %}
{% include jquery.htm %}
{% end %}
